<style>
    h2 {
        font-size: 23px;
    }
    
    h3 {
        font-size: 17px;
    }
    li{
        list-style:none;
    }
    ul{
        padding: 0;
    }
    
    b{
    
        color:#ce5054;
    }
    
</style>

<br>
<center>
    <img src="content/images/logo.svg" width="50%">

    <p>

        <h2 class="aboutScreenTitle">App Name</h2>
    
    </p>
    <p>Version {{version}}-{{platform}}</p>

<h3>Help Center</h3>
<ul>
    <li>
        <a onclick="window.open('www.exampleWebsite.org', '_system');">
    Visit our Website
</a>
    </li>

    <li>
        <a href="mailto:examplePerson@example.org">
    Contact Tech Support
</a>

    </li>
    <li>
        <a href="mailto:examplePerson@example.org">
    Scholarly Contributions
</a>
    </li>
    <li>
        <a ui-sref="citations">
    How to Cite
</a>
    </li>
    <li>
        <a href="www.exampleWebsite.org">
    FAQ
</a>
    </li>
</ul>

<h3>Legal</h3>
<ul>
    <li>
        <a ui-sref="useTerms">
    Terms of Use
</a>
    </li>
    <li>
        <a ui-sref="privacy">
   Privacy Policy
</a>
    </li>
    <li>
    	<a ui-sref="software">
	    	Software Licenses
    	</a>
    </li>
</ul>
<h3>Credits List</h3>
<ul>
    <li>
        <a ui-sref="contributors">

        Content

    </a>
    </li>
    <li>
        <a ui-sref="developers">

        Development

    </a>
    </li>
</ul>

</center>