<style>
    div.caption {
        text-align: center;
    }
    
    div.caption>h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="row center">
    <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="image in Images">
        <div class="thumbnail">
            <a ui-sref="image({imageNumber:{{image.Identifier}}})">
                <img ng-src='content/images/gallery/thumbs/{{image.File}}' alt='{{image.Title}}'>
                <div class="caption">
                    <h4>{{image.Title}}</h4>
                </div>
            </a>
        </div>
    </div>
</div>