<h2>Citation Examples:</h2>
<p>NB: These are only examples. Please use care when citing this work.</p>

<h3>Original Text (Print Edition)</h3>
<p>Insert citation here.</p>

<h3>Chicago Style Citation</h3>

<h4>First footnote referring to a quote or passage:</h4>
<p>Insert citation here.</p>

<h4>First footnote referring to a commentary:</h4>
<p>Insert citation here.</p>

<h4>Bibliography entry for the app itself:</h4>
<p>Insert citation here.</p>

<h4>Bibliography entry for a commentary:</h4>
<p>Insert citation here.</p>


<h3>MLA Style Citation</h3>

<h4>In-text citation:</h4>
<p>Insert citation here.</p>

<h4>In-text citation to a commentary:</h4>
<p>Insert citation here.</p>

<h4>Works Cited entry for the app itself:</h4>
<p>Insert citation here.</p>

<h4>Works Cited entry for a commentary:</h4>
<p>Insert citation here.</p>